.home-container {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.hero-image {
    width: 50%;
    border-radius: 5px;
}

.hero-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.hero-text {
    text-align: center;
    width: 80%;
}

.hero-buttons{
    text-align: center;
    padding:20px;
}

.hero-buttons button {
    margin-inline: 5px;
}
.cta-button {
    padding: 10px 20px;
    background-color: #19427e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.cta-button:hover {
    background-color: white;
    color: #19427e;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.about-us {
    text-align:  center;
    width: 40%;
    padding: 20px 0;
}

.services, .products{
    text-align:  center;
    padding: 20px 0;
}

.about-us img, .services img, .products img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.services-list, .products-list {
    display: flex;
    justify-content: space-between;
}

.service-item, .product-item {
    width: 23%;
    text-align: center;
}

.service-item img, .product-item img {
    width: 100%;
}
