.footer-container {
    background-color: #19427e;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-info {
    font-size: 0.9em;
}

.footer-social a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-social a:hover {
    text-decoration: underline;
}
